.App {
  margin: 10px;
  border: 1px solid black;
  box-sizing: border-box;
}

.square {
  width: 100px;
  height: 100px;
  margin: 0;
  display: inline-block;
}

.vertical {
  width: 8px;
  height: 100px;
  margin: 0;
  display: inline-block;
}

.horizontal {
  width: 100px;
  height: 8px;
  margin: 0;
  display: inline-block;
}

.row {
  margin: 0 auto;
  padding: 0px;
  height: fit-content;
  width: fit-content; 
}

.spacer {
  width: 8px;
  margin: 0;
  height: 8px;
  display: inline-block;
  padding: 0;
}

.board {
  margin: 0 auto;
}

.game-info {
  font-size: 18px;
}